@{
    ViewData["Title"] = "Olof Sandbergs library";
}

<div class="details-background text-center">
    <h1 class="display-4">Welcome to the Library</h1>
    <p class="lead">Navigate to the library in the navbar or click the button below</p>

    <div class="form-group">
        <a asp-controller="Book" asp-action="BookIndex" class="btn btn-primary btn-lg">Go to the Library</a>
    </div>
</div>
